{:source-paths ["src" "test"]

 :dev-http {4000 "public"}

 :dependencies [[reagent "1.2.0"]
                [re-frame "1.4.3"]
                [day8.re-frame/http-fx "0.2.4"]
                [cljs-ajax/cljs-ajax "0.8.4"]
                [day8.re-frame/test "0.1.5"]
                [metosin/malli "0.15.0"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :build-hooks [(yappinator.frontend.build.build-hooks/copy-file "public/index.html" "public/index.release.html")]
                :modules {:main {:init-fn yappinator.frontend.core/init}}
                :release {:compiler-options {:optimizations :advanced}
                          :module-hash-names true
                          :closure-defines {yappinator.frontend.config/API_URL #shadow/env "API_URL"}}}
          :test {:target :node-test
                 :output-to "out/test.js"
                 :devtools {:autobuild true}
                 :compiler-options {:output-wrapper true}
                 :npm-deps [[xmlhttprequest "1.8.0"]]
                 :dependencies [[day8.re-frame/test "0.1.5"]]     
                 :foreign-libs [{:file "node_modules/xmlhttprequest/lib/XMLHttpRequest.js"
                 :provides ["ajax.xml-http-request"]
                 :module-type :commonjs}]}}}


